.body{
    width: 70%;
    margin: 0 auto;
}
.doneTaskTitle{
    color: #fff;
    background-color: rgb(15, 109, 3);
    width: 100%;
    padding: 10px;
}
.undoneTaskTitle{
    color: #fff;
    background-color: #000;
    width: 100%;
    padding: 1px 10px;
}
